/* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: serif; 
  color: #fff;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

/* Navbar styles */
.navbar {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
.navbar-container {
  background-color: #4b4b4ba4; 
  color: rgba(251, 254, 255, 0.918);
  padding: 2rem 10rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
.nav-contents a {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer; 
}

.nav-contents a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Hero image */

.hero-img {
  background-image: url("/img/7.jpg");
  background-size: cover;
  background-position: bottom center;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
}

.hero-img::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 1;
}

/* Greetings */
.greet-container {
  position: relative;
}
.greet-contents {
  position: absolute;
  top: -100px; 
  background-color: #fff;
  margin: 0 6rem; 
  padding: 0 3rem;
  padding-bottom: 2rem; 
  color: #090f26;
  text-align: center;
  line-height: 8rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.greet-welcome {
  font-size: 3rem;
  letter-spacing: 8px;
}
.greet-description {
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  color: #4a5568;
}
/* Contacts */
.contact-container {
  position: absolute; 
  background-color: rgba(26, 24, 24, 0.829);
  margin: 6rem; 
  margin-top: 12rem; 
  padding: 4rem;
  font-family: Raleway;
  line-height: 3rem; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
