
 /* Default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: serif; 
  color: #fff;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

/* Navbar styles */
.navbar {
  position: fixed; 
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
.navbar-container {
  background-color: rgba(73, 72, 72, 0.63); 
  color: rgba(251, 254, 255, 0.918);
  padding: 2rem 10rem;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
.nav-contents a {
  font-size: 1.2rem;
  margin-right: 1rem;
  cursor: pointer; 
}

.nav-contents a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Hero image */

.hero-img {
  background-image: url("/img/7.jpg");
  background-size: cover;
  background-position: bottom center;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
}

.hero-img::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  z-index: 1;
}

/* Greetings */
.greet-container {
  position: relative;
}
.greet-contents {
  position: absolute;
  top: -100px; 
  background-color: #fff;
  margin: 0 6rem; 
  padding: 0 3rem;
  padding-bottom: 2rem; 
  color: #090f26;
  text-align: center;
  line-height: 8rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.greet-welcome {
  font-size: 3rem;
  letter-spacing: 8px;
}
.greet-description {
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  color: #4a5568;
}
/* Contacts */
.contact-container {
  position: absolute;  
  background-color: rgba(26, 24, 24, 0.829);
  width: 55%;
  margin: 6rem; 
  margin-top: 12rem; 
  padding: 5rem;
  font-family: Raleway;
  line-height: 3rem; 
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
/* info */
 .info-container { 
    width: 30%;
    height: 20%;
    color: #000000;
    background-color: #fff;
    float: right;
    margin: 6rem;  
    margin-top: 12.5rem;  
    padding: 3.5rem; 
    line-height: 3rem;
    text-align: center; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25)
 }
  
 .icon {
    padding: 2rem; 
    padding-top: 2rem;
    padding-bottom: 2rem;
 }
/* Container */
 .container { 
    margin: 9rem;      
    text-align: center;   
    margin-right: 18rem; 
    margin-left: 18rem; 
    margin-top: 50rem;
    margin-bottom: 15rem;
    line-height: 3rem; 
 } 

 .container_text span{
    color: #000000b0;
    font-family: 'Dancing Script';
    margin-right: 18rem; 
    margin-left: 18rem;  
    text-align: center;
    font-style: italic; 
    font-size: 1.5rem;
 }
 .container_heading h1{
   color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem; 
    text-transform: uppercase;
    letter-spacing: .4rem;
 }
 /* Image */
  .image-container {
    background-color: #2e2b2b;
    position: absolute; 
  }
 
 .image {  
    display: flex;    
    width: 20%;
    height: 100%;
    margin: 4rem;
    margin-left: 5rem;
    margin-top: -8rem;
 }

 .img-wrapper{ 
    margin-right: 1.5rem;
  } 

 .text-container {
   font-size: small;
   font-family: 'Courier New', Courier, monospace;
   color: #7a7878;
   display: flex;  
   margin: 1rem;   
   margin-bottom: 25rem;  
   margin-top: -3rem;  
   text-align: center; 
}

.text {
  margin-right: 1.5rem; 
  margin-left: 7rem;   
}
 
.button {
   margin: 45rem;
   margin-right: 20rem;
   margin-bottom: 25rem; 
   } 

.btn {
  border: none;
  padding: 16px;
  margin: 15px;
  font-size: 0.9rem;
  position: absolute; 
  text-align: center;
  background-color: #c98888;
  font-family: Raleway; 
  cursor: pointer;
  padding-right: 5rem;
  padding-left: 5rem;
  padding: 1rem; 
  text-transform: uppercase;
  letter-spacing: 0.2rem;
 }

.btn a {
text-decoration: none;
color: white;
}

.btn:hover{
 background-color: #2e2b2b;
 color: rgb(80, 78, 78);
}

.btn:focus{
box-shadow: 0 0 4px rgba(172, 170, 170, 0.8);
border: 1px solid rgb(114, 112, 112);
}

.btn:active{
background-color: white;
color: black;
}
 


 