/* Header Section */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}

.header {
  position: absolute;
  min-height: 8vh;
  width: 100%;
  display: block;
  background-color: #53515141;
}

.inner_header_ {
  width: 1000px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo_container {
  height: 100%;
  display: block;
  float: left;
}

.logo_container img {
  position: relative;
  height: 80px;
  margin-top: 0.5rem;
}

.logo_container h1 {
  position: absolute;
  height: 100%;
  display: inline-block;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 30px;
  vertical-align: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.logo_container h1 span {
  font-weight: 950;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation a {
  height: 100%;
  display: block;
  float: left;
  padding: 0px 20px;
}

.navigation a li {
  display: inline-block;
  vertical-align: center;
  height: 100%;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 1.2rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.navigation a li:hover {
  color: black;
  transition: 0.3s ease;
  cursor: pointer;
}

/* End header Section */

/* content Section */

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ddd;
  background-color: #fff;
}

.img {
  background-image: url("/img/7.jpg");
  background-size: cover;
  background-position: bottom center;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  height: 100vh;
}

.img::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.4;
  z-index: 1;
}

.text {
  position: absolute;
  background-color: #ffffff;
  color: #1b1b1b;
  width: 95%;
  vertical-align: center;
  overflow: hidden;
  bottom: -7rem;
  top: 30;
  margin-left: 10em;
  margin-right: 10em;
}
.text {
  background-color: #fff;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: Raleway;
  text-transform: uppercase;
  text-align: center;
  margin: 2.5px;
  letter-spacing: 0.5rem;
  padding: 1.5rem;
}

.text p {
  font-size: 1.5rem;
  font-family: Recursive;
  line-height: 2.5rem;
  padding: 0px 2px;
}

/*  End content Section */

/* Home Section */

.content {
  width: 50%;
  height: 50%;
  background-color: #313131;
  color: #ffffff;
  align-content: left;
  line-height: 1.5em;
  margin-top: 9em;
  margin-left: 3em;
  margin-bottom: 6rem;
  padding: 3em;
  float: left;
  font-family: Raleway;
}

.heading {
  float: left;
  margin-top: 5em;
  margin-bottom: 8;
  padding-left: 10em;
  line-height: 2.5em;
}

.heading h1 {
  font-family: Alat;
  font-size: 2rem;
  letter-spacing: 2.5px;
}

.heading h1 h2 {
  margin-left: 20em;
}

.font {
  font-family: Dancing Script;
  font-style: italic;
}

.info {
  margin: 1em;
  float: left;
  line-height: 2em;
}

.info span {
  font-family: Raleway;
  padding-right: 5rem;
}

.style {
  line-height: 1.5em;
  margin-top: 2em;
}
/* End Home Section */

/* Information Section  */

.styling_bg {
  color: #000000;
}

/* End Information Section */
